# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
*.env

# Alembic (migrations)
alembic/versions/*.pyc

# Logs
*.log

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Test / coverage
.coverage
htmlcov/
.pytest_cache/

# Build / distribuição
dist/
build/
*.egg-info/